// TITLE H1
.title {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;

  // MEDIA QUERY
  @media only screen and (max-width: $bp-medium) {
    & {
      font-size: 0.7rem;
    }
  }
}

// SUBTITLE H2
.subtitle {
  width: 200px;
  font-family: $font-fraunces;
  font-size: 2rem;
  color: $neutral-black;
  line-height: 1;

  // MEDIA QUERY
  @media only screen and (max-width: $bp-medium) {
    & {
      font-size: 1.5rem;
    }
  }
}

// TEXT PARAGRAPH
.text {
  width: 13rem;
  font-size: 0.8rem;
  line-height: 2;

  // MEDIA QUERY
  @media only screen and (max-width: $bp-medium) {
    & {
      font-size: 0.8rem;
      line-height: 1.5;
      width: 16rem;
    }
  }
}
